<div class="entry-edit">
	<form id="alloweddays" action="<?php echo $this->getAllowedUrl(); ?>" method="post" enctype="multipart/form-data" class="grid">
		<div>
			<?php echo $this->getBlockHtml('formkey') ?>
		</div>

		<table cellspacing="0" class="form-list">
			<thead>
				<tr class="headings">
					<th>Day</th>
					<th>Allowed</th>
					<th>Optional</th>
					<th>Reason</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($this->getDays() as $day): ?>
					<tr>
						<td class="label"><label><?php echo $day['label']; ?></label></td>
						<td class="value">
							<input name="days[<?php echo $day['id']; ?>][allowed]" type="checkbox" <?php echo $day['allowed'] ? 'checked="checked"' : ''; ?>>
						</td>
						<td class="value">
							<input name="days[<?php echo $day['id']; ?>][optional]" type="checkbox" <?php echo $day['optional'] ? 'checked="checked"' : ''; ?>>
						</td>
						<td class="value">
							<input name="days[<?php echo $day['id']; ?>][reason]" value="<?php echo $day['reason']; ?>" class="input-text" type="text">
						</td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	</form>
</div>