<div id="delivery-date-form" class="shipping">
	<div class="applied"><span>Date Applied</span></div>
	<label class="date-picker-label">Delivery Date</label>
	<input name="delivery-date" type="date" id="datepicker" name="delivery-date" value="<?php echo Mage::getSingleton('core/session')->getData('deliveryData'); ?>"/>
	<button type="button" title="Apply" value="Apply"><span>Apply</span></button>
	<?php if($this->getCutoffTime() && $this->getCutoffTime() > date("H")): ?>
		<div id="delivery-date-difference">
			<span class="hours"></span>
			<span> Hours</span>
			<span class="minutes"></span>
			<span> Minutes</span>
			<span class="seconds"></span>
			<span> Seconds left to order.</span>
		</div>
		<script>
			var now = (new Date).getTime();
			var cutoff = (new Date('<?php echo date("m/d/y " . $this->getCutoffTime() . ":00:00") ?>')).getTime();
			var difference = cutoff - now;
			outputDateTimeDiff(difference);
			var timer = setInterval(function(){
				if (difference < 1000) {
					clearInterval(timer);
					jQuery('#delivery-date-difference').remove();
					if (jQuery('#datepicker').val() == "<?php echo (new DateTime('tomorrow'))->format('Y-m-d'); ?>") {
						jQuery('#datepicker').val(0);
					}
				} else {
					difference -= 1000;
					outputDateTimeDiff(difference);
				}
			},1000)

			function outputDateTimeDiff(milliseconds) {
				var seconds = milliseconds / 1000;
				var parent = jQuery('#delivery-date-difference');
				var hours = seconds > 3600 ? Math.abs((seconds / 3600) - 1) : 0;
				jQuery('.hours', parent).html(hours.toFixed(0));
				jQuery('.minutes', parent).html(Math.floor(seconds / 60 % 60));
				jQuery('.seconds', parent).html((seconds % 60).toFixed(0));
			}
		</script>
	<?php endif; ?>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

<script>
	<?php echo $this->getDatePickerScript(); ?>
	jQuery(document).tooltip({
		items: ".ui-datepicker-unselectable",
		track: true
	});

	jQuery('#delivery-date-form button').click(function(){
		if (typeof show_preloader == 'function') {
			show_preloader();
		}
		var date = jQuery('#delivery-date-form input').val();
		jQuery.ajax({
			url: '/deliverydate/date/update',
			data: {date: date},
			method: 'POST'
		}).done(function(){
			if (typeof hide_preloader == 'function') {
				hide_preloader();
			}
		}).success(function(){
			jQuery('#delivery-date-form .applied').addClass('active');
			setTimeout(function(){
				jQuery('#delivery-date-form .applied').removeClass('active');
			}, 3500);
		}) ;
	});

	jQuery(document).on('change','input[type="radio"][name="shipping_method"]',function(){
		var reg = (/saturday/i).exec(jQuery(this).val());
		jQuery("#datepicker").datepicker('destroy');
		if (reg !== null) {
			// Selected Saturday
			<?php echo $this->getDatePickerScript(false); ?>
			if ((new Date(jQuery('#datepicker').val())).getDay() != 6) {
				jQuery('#datepicker').val(0);
			}
		} else {
			// Selected anything else
			<?php echo $this->getDatePickerScript(); ?>
			if ((new Date(jQuery('#datepicker').val())).getDay() == 6) {
				jQuery('#datepicker').val(0);
			}
		}
	});
</script>

<style>
.ui-state-default {
	background: rgba(246, 246, 246, 0.9)!important;
}
.ui-state-active {
	border: 1px solid <?php echo $this->getColour('Selected'); ?>!important;
	color: #454545!important;
	background: rgba(4, 0, 230, 0.1)!important;
}
.ui-datepicker-unselectable {
	pointer-events: all!important;
}

.ui-state-default:hover {
	cursor: pointer;
}

.today-date,
.holiday-date {
	background: <?php echo $this->getColour('Disallowed'); ?>;
}

.optional-date {
	background: <?php echo $this->getColour('Optional'); ?>;
}

input#datepicker,
img.ui-datepicker-trigger,
label.date-picker-label{
	display: inline-block;
	vertical-align: middle;
}
img.ui-datepicker-trigger {
	margin-left: 2px;
}
</style>