body.checkout-onepage-index #delivery-date-form button,body.checkout-onepage-index #delivery-date-form .applied{display:none}body.checkout-onepage-index #delivery-date-form label{font-weight:400;width:33%;max-width:200px;font-size:13px}
/*# sourceMappingURL=checkout.css.map */
