@import "compass";

body.checkout-onepage-index {
	#delivery-date-form {
		button, .applied {
			display: none;
		}
		label {
			font-weight: 400;
			width: 33%;
			max-width: 200px;
			font-size: 13px;
		}
	}
}